<div class="container">
    <h1 class="text-center text-primary">Welcome to your sales app</h1>
    <div class="card">
        <div class="card-body text-center">
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, et est
                reiciendis
                minima
                odit officia
                repudiandae rem soluta consectetur? Reiciendis eos velit, ut aperiam eveniet ad exercitationem sapiente
                ullam mollitia.</p>
            <a [routerLink]="['login']" class="btn btn-sm btn-primary px-3 me-1">login</a>
            <a [routerLink]="['register']" class="btn btn-sm btn-success">Register</a>
        </div>
    </div>
</div>